# Default ignored files
/shelf/
/workspace.xml
node_modules/
client/node_modules/
Server/node_modules/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


package-lock.json
/Server/package-lock.json
/Server/.env
